version: '3.7'

services:
  db:
    # using 14.1-bullseye causes "django.db.utils.OperationalError: SCRAM authentication requires libpq version 10 or above" in app
    # could be an Apple Silicon problem only
    image: postgres:14.1-bullseye
    env_file:
      - .envs/postgres.dev
    ports:
      - 5432:5432
  app:
    image: opalmedapps/backend:latest
    build: .
    command: python manage.py runserver 0:8000
    environment:
      # overwrite for container to allow both container and local venv
      - DATABASE_HOST=db
    volumes:
      - $PWD:/app
    ports:
      - 8000:8000
    depends_on:
      - db
