# Project information
site_name: Backend
site_url: https://opalmedapps.gitlab.io/backend
site_author: Opal Health Informatics Group (O-HIG)

# Repository
repo_name: opalmedapps/backend
repo_url: https://gitlab.com/opalmedapps/backend

# Copyright
copyright: Copyright &copy; 2022 Opal Health Informatics Group (O-HIG)

# Content
nav:
  - Home: index.md
  - Architecture: architecture.md
  - Apps:
      - App Structure: apps/structure.md
      - Caregivers: apps/caregivers.md
      - Patients: apps/patients.md
      - Users: apps/users.md
      - Questionnaires: apps/questionnaires.md
  - Database:
      - Migrations: database/migrations.md
      - Legacy DB Setup: database/legacy_db.md
  - REST API:
      - Authentication: authentication.md
  - Custom Permissions: standard_and_custom_permissions.md
  - Translation: translation.md
  - Changelog: changelog.md
  - Code Reference: reference/

# Configuration
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    # TODO: host locally
    # see: https://fonts.google.com/specimen/Roboto
    # see: https://fonts.google.com/specimen/Roboto+Mono
    text: Roboto
    code: Roboto Mono
  language: en
  icon:
    logo: material/book-open-page-variant
    # repo: fontawesome/brands/gitlab
  features:
    # - navigation.instant
    # - navigation.tabs
    - navigation.top
    - search.highlight

# Plugins
plugins:
  - search
  # generate code reference documents from code base
  - gen-files:
      scripts:
        - docs/gen_reference_nav.py
  # auto-generate navigation structure for code reference
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          setup_commands:
            - import os
            - os.environ.setdefault("DJANGO_SETTINGS_MODULE", "opal.settings")
            - import django
            - django.setup()
            # mock pytkdocs to workaround Django and Django REST framework issues
            - import docs.mock_django
          import:
            # import Sphinx objects inventories to support referencing other elements in docs
            - https://docs.python.org/3.9/objects.inv
            - https://docs.djangoproject.com/en/3.2/_objects/
            - https://django-modeltranslation.readthedocs.io/en/latest/objects.inv
      watch:
        - opal/

# Extensions
markdown_extensions:

  # Python Markdown
  - admonition
  - def_list
  - footnotes
  - tables
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

watch:
  - README.md
  - CHANGELOG.md
