# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[project]
name = "admin"
version = "0"
description = "New administrative web application used to configure Opal and its content"
readme = "README.md"
requires-python = "==3.12.11"
dependencies = [
    "argon2-cffi==25.1.0",
    "crispy-bootstrap5==2025.6",
    "dj-rest-auth==7.0.1",
    "django==4.2.23",
    "django-auditlog==3.2.0",
    "django-cors-headers==4.7.0",
    "django-crispy-forms==2.4",
    "django-environ==0.12.0",
    "django-extensions==4.1",
    "django-filter==25.1",
    "django-forms-dynamic==1.0.0",
    "django-modeltranslation==0.19.16",
    "django-phonenumber-field[phonenumberslite]==8.1.0",
    "django-structlog==9.1.1",
    # required as a runtime dependency due to the need to monkeypatch at runtime for generics
    # see: https://github.com/typeddjango/django-stubs/tree/master/ext
    "django-stubs-ext==5.2.1",
    "django-tables2==2.7.5",
    "djangorestframework==3.16.0",
    "drf-spectacular==0.28.0",
    "fpdf2==2.8.3",
    "hl7apy==1.3.5",
    # required for image export in plotly
    "kaleido==1.0.0",
    "mysqlclient==2.2.7",
    "openpyxl==3.1.5",
    "pandas==2.3.0",
    # required for ImageFields
    "pillow==11.3.0",
    "plotly==6.2.0",
    "pydantic==2.11.7",
    "qrcode==8.2",
    "requests==2.32.4",
    "slippers==0.6.2",
    "twilio==9.6.4",
    "unidecode==1.4.0",
    "whitenoise[brotli]==6.9.0",
]

[dependency-groups]
dev = [
    "beautifulsoup4==4.13.4",
    "coverage==7.9.2",
    "django-coverage-plugin==3.1.1",
    "django-stubs==5.2.1",
    "django-test-migrations==1.5.0",
    "djangorestframework-stubs==3.16.0",
    "factory-boy==3.3.3",
    "mypy[faster-cache]==1.16.1",
    "pandas-stubs==2.3.0.250703",
    "pre-commit==4.2.0",
    "pytest==8.4.1",
    "pytest-django==4.11.1",
    "pytest-mock==3.14.1",
    "pytest-randomly==3.16.0",
    "pytest-socket==0.7.0",
    "pytest-sugar==1.0.0",
    "ruff==0.12.2",
    "types-beautifulsoup4==4.12.0.20250516",
    "types-fpdf2==2.8.3.20250516",
    "types-python-dateutil==2.9.0.20250516",
    "types-requests==2.32.4.20250611",
]
docs = [
    "mkdocs-autorefs==1.4.2",
    "mkdocs-gen-files==0.5.0",
    "mkdocs-literate-nav==0.6.2",
    "mkdocs-material==9.6.15",
    "mkdocstrings[python-legacy]==0.29.1",
]
prod = [
    "gunicorn==23.0.0",
]
