# Note that piping to container stdout and stderr only works as root.
# This is therefore a temporary solution.

# Run the Patient recrods deviations check daily at 2am.
0 2 * * * . /etc/profile; /usr/local/bin/python /app/manage.py find_patients_deviations > /proc/1/fd/1 2> /proc/1/fd/2

# Run the Questionnaire respondents sync check daily at 2am.
0 2 * * * . /etc/profile; /usr/local/bin/python /app/manage.py find_questionnaire_respondent_deviations > /proc/1/fd/1 2> /proc/1/fd/2

# Run process to mark relationships as expired daily at midnight + 1 min (shortly after people's age changes).
1 0 * * * . /etc/profile; /usr/local/bin/python /app/manage.py expire_relationships > /proc/1/fd/1 2> /proc/1/fd/2

# Run expire outdated registration codes check every hour.
0 * * * * . /etc/profile; /usr/local/bin/python /app/manage.py expire_outdated_registration_codes > /proc/1/fd/1 2> /proc/1/fd/2
