# Provide an email address to which the errors will be send out.
# MAILTO=email@example.com

# Run the Patient recrods deviations check daily at 2am.
0 2 * * * /usr/local/bin/python /app/manage.py find_patients_deviations > /dev/null

# Run the Questionnaire respondents sync check daily at 2am.
0 2 * * * /usr/local/bin/python /app/manage.py find_questionnaire_respondent_deviations > /dev/null

# Run process to mark relationships as expired daily at midnight + 1 min (shortly after people's age changes).
1 0 * * * /usr/local/bin/python /app/manage.py expire_relationships > /dev/null

# Run expire outdated registration codes check daily at 8am.
0 8 * * * /usr/local/bin/python /app/manage.py expire_outdated_registration_codes > /dev/null
