{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

  {% block content-header-page-name %}{% translate "Health Data" %}{% endblock %}

  {% block content %}
    {% if perms.health_data.view_quantitysample %}
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col col-sm-10">

                <h4> {% translate "Patient:" %} {{ first_name }} {{ last_name }} {{ ramq }}</h4>
                <hr>
                <div class="table-responsive">

                </div>
            </div>
          </div>
        </div>
    {% endif %}
  {% endblock %}
