{% load crispy_forms_field %}


{% comment %}Partially copied from bootstrap5/field.html{% endcomment %}
<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="mb-3{% if field|is_checkbox and form_show_labels %} form-check{% else %}{% if 'form-horizontal' in form_class %} row{% endif %}{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
    {% if field.label and not field|is_checkbox and form_show_labels %}
        <label {% if field.id_for_label %}for="{{ field.id_for_label }}"{% endif %} class="{% if 'form-horizontal' in form_class %}col-form-label{% else %}form-label{% endif %}{% if label_class %} {{ label_class }}{% endif %}{% if field.field.required %} requiredField{% endif %}">
            {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}

    {# Partially copied from 'bootstrap5/layout/field_file.html' #}
    {% for widget in field.subwidgets %}
      {% include 'bootstrap5/layout/help_text_and_errors.html' %}
      <div class="{% if widget.data.attrs.class %} {{ widget.data.attrs.class }}{% endif %}" {% if field.errors %} class="is-invalid"{%endif%}>
        <div class="input-group mt-2">
          <input type="{{ widget.data.type }}" name="{{ widget.data.name }}" value="{{ widget.data.value }}" class="form-control{% if field.errors %} is-invalid{%endif%}"{% if field.field.disabled %} disabled{% endif %}{% for name, value in widget.data.attrs.items %}{% if value is not False and name != 'class' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
          <label class="form-label">{{ widget.data.attrs.unit }}</label>
        </div>
      </div>
    {% endfor %}

</{% if tag %}{{ tag }}{% else %}div{% endif %}>
