{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block content-header-page-name %}{% translate "Delete Relationship Type" %}{% endblock %}

{% block content %}
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                  <div class="callout callout-danger">
                    <h5>
                      {% blocktranslate %}Are you sure you want to delete the following relationship type: {{ object }}?{% endblocktranslate %}
                    </h5>

                    <form action="" method="POST">
                      {% csrf_token %}
                      <input class="btn btn-danger btn-sm" type="submit" value="{% translate "Yes" %}, {% translate "Delete"|lower %}.">
                    </form>
                  </div>
                  <a class="btn btn-secondary mr-2" href="{% url 'patients:relationshiptype-list' %}">
                    {% translate "Cancel" %}
                  </a>
            </div>
        </div>
    </div>
  </section>

{% endblock %}
