{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block heading %}
  {% if object %}
    {% translate "Update" %}
  {% else %}
    {% translate "Create" %}
  {% endif %}
  {% translate "Relationship Type" %}
{% endblock %}

{% block content %}
  <form method="POST" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    {% url 'patients:relationshiptype-list' as cancel_url %}
    {% #form_actions %}
      {% form_cancel href=cancel_url %}
      {% form_submit type="save" %}
    {% /form_actions %}
  </form>
{% endblock %}
