{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block content-header-page-name %}{% translate "New Patient Data Access Request" %}{% endblock %}

{% block content %}
    {% comment %} Main content {% endcomment %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!--div class="col"><hr></div-->
          <div class="col-auto">{% translate "Requestor Details" %}</div>
          <div class="col"><hr></div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">{% translate "Who is requesting the code?" %}</div>
              <div class="col-sm-6 text-right">{% translate "Incomplete" %}</div>
            </div>
          </div>
          <div class="card-body">
            <form action="{% url 'patients:verify-identification' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col"><p>{% translate "Relationship to the patient:" %}</p></div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled>
                    <label class="form-check-label" for="flexRadioDefault1">
                      <p><u>Self</u>, the patient is the rquestor</p>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      <p>A <u>parent or guardian</u> of the patient</p>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" disabled>
                    <label class="form-check-label" for="flexRadioDefault2">
                      <p>A <u>guardian-caregiver</u> of the patient</p>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col"><p>{% translate "Has the requestor filled out the request form?" %}</p></div>
                <div class="col">
                  <input class="form-check-input" type="checkbox" name="isRequestFilled" value="1" id="flexCheckDefault" onChange="this.form.submit()">
                  <label class="form-check-label" for="flexCheckDefault">
                    Yes
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
