<body>
  <p>Cher {{first_name}} {{last_name}}:</p>
  <p>Bienvenue dans le groupe Opal!.</p>
  <p>Merci de vous avoir enregistré avec l’application Opal.</p>
  <p>Pour effectuer la vérification de votre adresse courriel, veuillez entrer le code si bas, sur la page de vérification:</p>
  <div style="width:70%; font-weight: bold;">{{code}}</div>
  <p>Ce code expire 10 minutes après l'envoi du présent courriel. Une fois le code expiré, il vous faudra procéder à une autre demande pour obtenir un nouveau code de vérification.</p>
  <p>Cordialement,</p>
  <h3><a href='https://opalmedapps.com/fr-selected' target='_blank' alt='Opal'>L’Équipe Opal</a></h3>
</body>
