{% extends "layouts/base.html" %}
{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-header-page-name %}
  {% if object %}{% translate "Manage" %}{% else %}{% translate "Create" %}{% endif %} {% translate "Caregiver Access Requests" %}
{% endblock %}

{% block content %}
{% comment %} Main content {% endcomment %}
  <section class="content">
    {% comment %} Default box {% endcomment %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <p><span class="font-weight-bold">{% translate "Caregiver" %}</span>:&nbsp;{{relationship.caregiver}}</p>
                  <p><span class="font-weight-bold">{% translate "Patient" %}</span>:&nbsp;{{relationship.patient}}</p>
                  <p><span class="font-weight-bold">{% translate "RAMQ" %}</span>:&nbsp;{{relationship.patient.ramq}}</p>
                  <p><span class="font-weight-bold">{% translate "Date of Birth"%}</span>:&nbsp;{{relationship.patient.date_of_birth | localize}}</p>
                  </div>
                    {% comment %} /.card-body {% endcomment %}
                </div>
                <div class="card">
                    <div class="card-body">
                      <form method="post" novalidate>
                        {% csrf_token %}

                        {% crispy form %}
                      </form>
                    </div>
                    {% comment %} /.card-body {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% comment %} /.card {% endcomment %}
  </section>
{% comment %} /.content {% endcomment %}
{% endblock %}
