{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block heading %}
  {% translate "Edit Caregiver Access" %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <legend>{% translate "Patient" %}</legend>
      <div class="row">
        {% render_table patient_table %}
      </div>
    </div>
    <div class="card-body">
      <legend>{% translate "Caregivers" %}</legend>
      {% crispy form %}
    </div>
  </div>
{% endblock %}
