{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block heading %}
  {% translate "Manage Caregiver Access" %}
{% endblock %}

{% block content %}
  <div class="btn-toolbar-no-group mb-4">
    {% if filter %}
      <h5>Patient</h5>
      {% crispy filter.form %}
    {% endif %}
    <div class="row row-cols-md-auto align-items-center g-2">
      <span class="fw-bold">{% translate "Filters:" %}</span>
      {% var yesno_css_filter="nav-link active,nav-link" %}
      <ul class="nav nav-pills">
        <li class="nav-item">
          {% var is_search=filter.form.is_bound %}
          {# trigger a search with missing data to detect switching to a search #}
          <label class="{{ is_search|yesno:yesno_css_filter }} me-2"{% if is_search %} aria-current="page"{% endif %}>
            {% translate "Specific Patient" %}
          </label>
        </li>
        <li class="nav-item">
          <label href="{{ request.path }}" class="{{ is_pending|yesno:yesno_css_filter }} me-2"{% if is_pending %} aria-current="page"{% endif %}>
            {% translate "All Pending Requests" %}
          </label>
        </li>
      </ul>
    </div>
  </div>
  {% render_table table %}
{% endblock %}
