{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block heading %}
  {% translate "Manage Caregiver Access" %}
{% endblock %}

{% block content %}
  <div class="btn-toolbar-no-group mb-2">
    {% if filter %}
      <h5>Patient</h5>
      <div class="mt-2">
        {% crispy filter.form %}
      </div>
    {% endif %}
    <div class="mt-4">
      {% if is_search %}
        <h5>{% translate "Specific Patient" %}</h5>
      {% else %}
        <h5>{% translate "Pending Requests" %}</h5>
      {% endif %}
      {% render_table table %}
    </div>
  </div>
{% endblock %}
