{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block title %}<title>OpalAdmin v2</title>{% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    {% block stylesheets %}{% endblock %}
  </head>

  <body class="{% block theme %} {% endblock %}">
    {% block body %}{% endblock %}

    {% block javascripts_footer %}{% endblock %}
  </body>
</html>
