{% load static %}
{% load i18n %}

{% fragment as page_heading %}
  {% block heading %}empty block <code>heading</code>{% endblock %}
{% endfragment %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ page_heading }} · OpalAdmin 2.0
    </title>

    <link href="{% static 'thirdparty/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <!-- TODO: use Bootstrap Icons properly; or FontAwesome 6 -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
      </symbol>
    </svg>

    {% comment %} <header>
      {% include "navbar.html" %}
    </header> {% endcomment %}

    <div class="d-flex flex-nowrap">
      {% include "sidebar.html" %}

      <main class="container-fluid d-flex flex-column px-5 pt-4">
        <div class="mb-auto">
          <nav aria-label="breadcrumb" class="bg-white">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">{{ app_verbose_name }}</li>
              <li class="breadcrumb-item active" aria-current="page">{{ page_heading }} </li>
            </ol>
          </nav>
          <h1 class="mb-3">{{ page_heading }}</h1>
              {% block content %}empty block <code>content</code>{% endblock %}
        </div>
        <footer class="py-2 pt-3 mt-4 border-top">
          <p class="text-center text-muted"><small>&copy; Opal Health Informatics Group</small></p>
        </footer>
      </main>

    </div>
    <!-- Javascript: Placed at the end of the document so the pages load faster -->
    <script src="{% static 'thirdparty/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
