{% load extra_filters %}
{% load static %}
{% load i18n %}

{% comment %}
  Fragment that is reusable across the page so that the page heading can be shown in various places.
  See: https://mitchel.me/slippers/docs/using-components/#assigning-output-to-a-variable
{% endcomment %}
{% fragment as raw_page_heading %}
  {% block heading %}empty block <code>heading</code>{% endblock %}
{% endfragment %}
{# strip whitespace and newlines to support more readable blocks #}
{% var page_heading=raw_page_heading|striplines %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ page_heading }} · OpalAdmin
    </title>

    <link href="{% static 'thirdparty/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'thirdparty/unpoly/css/unpoly.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'thirdparty/unpoly/css/unpoly-bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />

    {% block stylesheets %}{% endblock %}

    {# Our own stylesheets #}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />

    {% comment %}
      Prevent Flash of Unstyled Content (FUOC) in Firefox
      See: https://stackoverflow.com/a/64158043
      See: https://bugzilla.mozilla.org/show_bug.cgi?id=1404468
    {% endcomment %}
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>

    {% comment %}
      Make external scripts non-blocking
      See: https://javascript.info/script-async-defer
    {% endcomment %}
    <script defer src="{% static 'thirdparty/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'thirdparty/unpoly/js/unpoly.min.js' %}"></script>
    {# disabled unpoly bootstrap because it removes the active class from the menu items in the sidebar on child pages #}
    {# <script defer src="{% static 'thirdparty/unpoly/js/unpoly-bootstrap5.min.js' %}"></script> #}
    {% block javascript %}{% endblock %}
  </head>
  <body>
    <div class="d-flex">
      {% include "sidebar.html" %}

      <main class="container-fluid d-flex flex-column px-5">
        <div class="mb-auto pt-3">
          <nav aria-label="breadcrumb" class="bg-white">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">{{ app_verbose_name }}</li>
              <li class="breadcrumb-item active" aria-current="page">{{ page_heading }} </li>
            </ol>
          </nav>
          <h1 class="mb-3">{{ page_heading }}</h1>
            <div class="content px-3 py-3 mb-3 border rounded-1">
              {% block content %}empty block <code>content</code>{% endblock %}
            </div>
        </div>
        <footer class="py-2 pt-3 mt-2 border-top">
          <p class="text-center text-body-secondary mb-2"><small>&copy; {% translate "Opal Health Informatics Group" %}</small></p>
        </footer>
      </main>
    </div>
  </body>
</html>
