{% load static %}
{% load i18n %}

<nav class="d-flex flex-column flex-shrink-0 p-3 border-end" style="width: 300px;">
  <a href="{% url 'start' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <img src="{% static 'images/logo_opal.png' %}" alt="opal ADMIN logo" class="bi pe-none me-2 align-middle" width="32" height="32" style="opacity: .8" />
    <span class="fs-4 fw-semibold text-body">OpalAdmin</span>
  </a>
  <p>
    <a href="{{ OPAL_ADMIN_URL }}/#!/home" class="text-secondary">
      {% translate "Go back to OpalAdmin menu" %}
    </a>
  </p>

  {% comment %}
    Currently, the sidebar menu should not contain any items/menus, except "Go back" button.
    This is done so as not to confuse OpalAdmin operators with the old/new UI design.
    The new Django pages (e.g., registration) are accessible through the legacy OpalAdmin.
    Uncomment the line below if you need the menus during the development. {% endcomment %}
  {% comment %} {% include "sidebar_menu.html" %} {% endcomment %}

  <div class="dropdown pt-3 border-top">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      {% icon icon="user-circle" size="lg" %}
      <strong>{{ request.user.username }}</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      {% comment %} <li>
        <a class="dropdown-item" href="#">{% translate "Profile" %}</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li> {% endcomment %}
      <li>
        <form id="logout-form" method="post" action="{% url 'logout' %}" novalidate>
          {% csrf_token %}
          <button class="dropdown-item" type="submit">{% translate "Log Out" %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
