{% load static %}
{% load i18n %}

<nav class="d-flex flex-column flex-shrink-0 p-3 border-end" style="width: 300px;">
  <a href="{% url 'start' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <img src="{% static 'images/logo_opal.png' %}" alt="opal ADMIN logo" class="bi pe-none me-2 align-middle" width="32" height="32" style="opacity: .8" />
    <span class="fs-4 fw-semibold text-body">OpalAdmin</span>
  </a>
  <p>
    <a href="{{ OPAL_ADMIN_URL }}/#!/home" class="text-secondary">
      {% translate "Go back to OpalAdmin Menu" %}
    </a>
  </p>

  {% block sidebar-items %}{% endblock %}

</nav>
