{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block content-header-page-name %}{% translate "Delete Institution" %}{% endblock %}

{% block content %}
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                  <div class="callout callout-danger">
                    <h5>{% translate "Are you sure you want to delete the following institution:" %} {{ object }}?</h5>

                    <form action="" method="POST">
                      {% csrf_token %}
                      <input class="btn btn-danger btn-sm" type="submit" value="Yes, delete.">
                    </form>
                  </div>
            </div>
        </div>
    </div>
  </section>

{% endblock %}
