{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content-header-page-name %}{% translate "Institutions" %}{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
          <div class="btn-toolbar mb-4">
            <a class="btn btn-primary mr-2" href="{% url 'hospital-settings:institution-create' %}">
              <i class="fas fa-plus"></i> {% translate "New Institution" %}
            </a>
          </div>
            <div class="table-responsive">
              {% render_table table %}
            </div>
        </div>
    </section>
{% endblock %}
