{% extends "layouts/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content-header-page-name %}
  {% translate "New Patient Data Access Request" %}
{% endblock %}


{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto">{{ header_title }}</div>
      <div class="col"><hr></div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 text-left">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</div>
          <div class="col-sm-6 text-right"></div>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          {% if table %}
            {% render_table table %}
          {%  endif %}

          {{ wizard.management_form }}
          {% crispy wizard.form %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
