{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block heading %}
  {% translate "Opal Registration" %}
{% endblock %}

{% block content %}
  <form method="post" id="contentForm" up-submit up-target="#contentForm" novalidate>
    {% csrf_token %}
    {{ management_form }}
    <div class="card mb-3">
      <div class="card-body">
        <fieldset class="mb-3">
          <legend>{% translate "Patient Details" %}</legend>
          {% crispy search_form %}
        </fieldset>

        {% if patient_form %}
          {% render_table patient_table %}
          {% crispy patient_form %}
        {% endif %}
      </div>
    </div>

    {% if relationship_form %}
      <div class="card mb-3">
        <div class="card-body">
          <fieldset>
            <legend>{% translate "Requestor Details" %}</legend>
            {% crispy relationship_form %}
          </fieldset>
        </div>
      </div>
    {% endif %}

    {% if confirm_form %}
      {% crispy confirm_form %}
    {% endif %}

    {% #form_actions %}
      <input type="submit" name="next" class="btn btn-primary" value="{{ next_button_text }}" />
      {% form_cancel href='/'|add:request.resolver_match.route %}
    {% /form_actions %}
  </form>

{% endblock %}
