{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block heading %}
  {% translate "Opal Registration: Confirmation" %}
{% endblock %}

{% block content %}
  <p>{% translate "The following access request has been created for the following patient and caregiver:" %}</p>
  <p>
    <strong>{% translate "Patient:" %}</strong> {{ patient }}<br>
    <strong>{% translate "Requestor:" %}</strong> {{ requestor }}
  </p>
  <p>
    {% blocktranslate trimmed %}
      Please inform the requestor that access to patient data is subject to approval by Medical Records
      and inform them about any steps required to be done as per hospital policy.
    {% endblocktranslate %}
  </p>
  {% #form_actions %}
    {% url "patients:access-request" as url %}
    {% form_cancel href=url type="done" %}
  {% /form_actions %}
{% endblock %}
