{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block heading %}
  {% translate "Opal Registration: Code" %}
{% endblock %}

{% block content %}
  {% comment %} <div class="row"> {% endcomment %}
    <div>
      <p>{% translate "A unique one-time Opal registration code has been created for the following patient:" %}</p>
      <p>
        <strong>{% translate "Patient:" %}</strong> {{ patient }}<br>
        <strong>{% translate "Requestor:" %}</strong> {{ requestor }}
      </p>
    </div>
    <div class="d-flex justify-content-center text-center gap-5">
      <div>
        <h4 class="mb-3">{% translate "Registration Code" %}</h4>
        <span class="h5">{{ registration_code }}</span>
      </div>
      <div>
        <h4 class="mb-3">QR Code</h4>
        <img src="data:image/svg+xml;utf8;base64,{{ qr_code|safe }}" class="img-fluid">
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3 gap-3">
      <p><span class="fw-semibold">Send as SMS:</span> {% crispy sms_form %}</p>
    </div>
  {% comment %} </div> {% endcomment %}
  <h5>{%translate "Instructions" %}</h5>
  <ul>
    <li class="text-danger fw-semibold">Do not print this page!</li>
    <li>
      {# reduce spacing for blocktranslate for easier reuse in another template #}
{% blocktranslate %}
Please inform the requestor that access to patient data is subject to approval by Medical Records
and inform them about any steps required to be done as per hospital policy.
{% endblocktranslate %}
    </li>
    <li>{% translate "Inform the requestor that the code is valid for 72 hours." %}</li>
    <li>{% translate "Inform the requestor how to proceed if the code expired (as per hospital policy)." %}</li>
    <li>{% translate "Inform the requestor to create their Opal user account using the above code" %}</li>
    <ul>
      <li>{% translate "URL: " %}<a href={{ registration_url }} class="text-primary text-decoration-underline font-weight-bold">{{ registration_url }}</a></li>
      <li>{% translate "Offer to scan the QR code to open the registration website" %}</li>
      <li>{% translate "Offer to receive the registration link via SMS" %}</li>
    </ul>
  </ul>
  {% #form_actions %}
    {% form_cancel href='/'|add:request.resolver_match.route type="done" %}
  {% /form_actions %}
{% endblock %}
