{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}


{% block stylesheets %}
  {{ block.super }}
  {% comment %} DataTables {% endcomment %}
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content-header-page-name %}{% translate "Sites" %}{% endblock %}

{% block content %}
    {% comment %} Main content {% endcomment %}
    <section class="content">

        {% comment %} Default box {% endcomment %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="sitesTable" class="table table-striped sites">
                                <thead>
                                <tr>
                                    <th>
                                      {% translate "Code" %}
                                    </th>
                                    <th>
                                      {% translate "English" %}
                                    </th>
                                    <th>
                                      {% translate "French" %}
                                    </th>
                                    <th>
                                      {% translate "Institution" %}
                                    </th>
                                    <th>
                                      {% translate "Longitude" %}
                                    </th>
                                    <th>
                                      {% translate "Latitude" %}
                                    </th>
                                    <th style="width: 33%">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                  {% for site in object_list %}
                                    <tr>
                                      <td>
                                        {{ site.code }}
                                      </td>
                                      <td>
                                        {{ site.name_en }}
                                      </td>
                                      <td>
                                        {{ site.name_fr }}
                                      </td>
                                      <td>
                                        <a href="{% url 'hospital-settings:institution-detail' site.institution.id %}">
                                          {{ site.institution }}
                                        </a>
                                      </td>
                                      <td>
                                        {{ site.longitude }}
                                      </td>
                                      <td>
                                        {{ site.latitude }}
                                      </td>
                                      <td class="project-actions text-right">
                                        <div class="btn-toolbar" role="group">
                                          <a class="btn btn-primary btn-sm mr-2" href="{% url 'hospital-settings:site-detail' site.id %}">
                                              <i class="fas fa-eye"></i>
                                              {% translate "View" %}
                                          </a>
                                          <a class="btn btn-info btn-sm mr-2" href="{% url 'hospital-settings:site-update' site.id %}">
                                              <i class="fas fa-pencil-alt"></i>
                                              {% translate "Edit" %}
                                          </a>
                                          <a class="btn btn-danger btn-sm mr-2" href="{% url 'hospital-settings:site-delete' site.id %}">
                                            {% translate "Delete" %}
                                          </a>
                                        </div>
                                      </td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% comment %} /.card-body {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} .card {% endcomment %}

    </section>
    {% comment %} .content {% endcomment %}
{% endblock %}

{% block javascripts_footer %}
  {{ block.super }}
  {% comment %} DataTables {% endcomment %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>

  {% comment %} Custom JS {% endcomment %}
  <script src="{% static 'hospital_settings/js/hsSites.js' %}"></script>
{% endblock %}
