{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block content-header-page-name %}{% translate "Site Detail" %}{% endblock %}

{% block content %}
  {% comment %} Main content {% endcomment %}
  <section class="content">
    {% comment %} Default box {% endcomment %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="siteCode">{% translate "Code" %}</label>
                        <input type="text" id="siteCode" class="form-control" name="siteCode" value="{{ object.code }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="siteNameEn">{% translate "Name" %} ({% translate "English" %})</label>
                        <input type="text" id="siteNameEn" class="form-control" name="siteNameEn" value="{{ object.name_en }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="siteNameFr">{% translate "Name" %} ({% translate "French" %})</label>
                        <input type="text" id="siteNameFr" class="form-control" name="siteNameFr" value="{{ object.name_fr }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="parkingInfoEn">{% translate "Parking Info (URL)" %} ({% translate "English" %})</label>
                        <input type="text" id="parkingInfoEn" class="form-control" name="parkingInfoEn" value="{{ object.parking_url_en }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="parkingInfoFr">{% translate "Parking Info (URL)" %} ({% translate "French" %})</label>
                        <input type="text" id="parkingInfoFr" class="form-control" name="parkingInfoFr" value="{{ object.parking_url_fr }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="directionUrlEn">{% translate "Getting to the Hospital (URL)" %} ({% translate "English" %})</label>
                        <input type="text" id="directionUrlEn" class="form-control" name="directionUrlEn" value="{{ object.direction_url_en }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="directionUrlFr">{% translate "Getting to the Hospital (URL)" %} ({% translate "French" %})</label>
                        <input type="text" id="directionInfoFr" class="form-control" name="directionInfoFr" value="{{ object.direction_url_fr }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="institution">{% translate "Institution" %}</label>
                        <input type="text" id="institution" class="form-control" name="institution" value="{{ object.institution }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="longitude">{% translate "Longitude" %}</label>
                        <input type="text" id="longitude" class="form-control" name="longitude" value="{{ object.longitude }}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="latitude">{% translate "Latitude" %}</label>
                        <input type="text" id="latitude" class="form-control" name="latitude" value="{{ object.latitude }}" readonly>
                      </div>
                    </div>
                    {% comment %} /.card-body {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% comment %} /.card {% endcomment %}
  </section>
{% comment %} /.content {% endcomment %}
{% endblock %}
