{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

  {% block content-header-page-name %}{% translate "Health Data" %}{% endblock %}

  {% block content %}

        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col col-sm-10">

                <h4> {% translate "Patient" %}: {{ patient.first_name }} {{ patient.last_name }} (RAMQ:{{ patient.ramq }})</h4>
                <hr>

            </div>
          </div>
        </div>

  {% endblock %}
