.rounded-1 {
    border-radius: var(--bs-border-radius-sm)!important;
    background-color: white;
}

.rounded-user-defined {
    border-radius: var(--bs-border-radius-sm)!important;
    color: var(--opal-purple);
}
