@charset "UTF-8";
@font-face {
    font-family: 'Proxima-Nova-Soft';
    src: url('fonts/ProximaNovaSoft-Regular.eot');
    src: url('fonts/ProximaNovaSoft-Regular.eot?#ie-fix') format('embedded-opentype'),
    url('fonts/ProximaNovaSoft-Regular.woff') format('woff'),
    url('fonts/ProximaNovaSoft-Regular.ttf') format('truetype'),
    url('fonts/ProximaNovaSoft-Regular.svg#Proxima-Nova-Soft') format('svg'),
    url('fonts/ProximaNovaSoft-Regular.otf') format('opentype');
}

/* Full browser */
body {
    /*position: relative;*/
    font-family: 'Proxima-Nova-Soft', Georgia, serif;
    background-color: #e6edfa;
    height: 100%;
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
    line-height: 18px;
    color: #6f5499;
    overflow-y: auto;

    /* Stops Mobile Safari from auto-adjusting font-sizes */
    -webkit-text-size-adjust: 100%;
    /* improves the text rendering in more recents browsers */
    text-rendering: optimizeLegibility;
}

ul.nav-sidebar > li.nav-item.has-treeview > a.nav-link,
a.nav-link,
a.brand-link,
a.brand-link:hover {
  color: #6f5499;
  text-decoration: none;
}

.content-wrapper, .main-header, .main-footer {
  background-color: #fff;
}

.main-sidebar {
  background-color: #fff
}
