/*
  Change nav pills to have the Opal purple

  See: Nav pills: https://getbootstrap.com/docs/5.3/components/navs-tabs/#pills
*/
.nav-pills {
  --bs-nav-pills-link-active-bg: var(--opal-purple);
}

.nav-link, .nav-link:hover, .nav-link:focus {
  color: #000;
  background-color: #e6edfa;
}

.nav-link:hover {
  background-color: var(--opal-purple-light);
}

/* Change breadcrumb colors */
.breadcrumb{
  --bs-breadcrumb-bg: #e6edfa;
  color: var(--opal-purple);
}

.breadcrumb-item.active {
    color: var(--opal-purple);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--opal-purple);
}
