:root {
  --opal-purple: #6f5499;
  --opal-sidebar-background: var(--bs-gray-100);
  --sidebar-hover-background: #f0e9ff;
  --opal-table-hover-bg: var(--bs-table-accent-bg);
  /* --opal-sidebar-background: #e6edfa; */
  /* --sidebar-hover-background: #d2f4ea; */
  /* --opal-table-hover-bg: var(--sidebar-hover-background); */
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: var(--sidebar-hover-background);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus,
.btn-toggle-nav a.active {
  background-color: var(--sidebar-hover-background);
}

/* Remove default link colour to reset to default text colour */
table thead a {
  color: unset;
}

nav {
  background-color: var(--opal-sidebar-background);
  /* background-color: var(--bs-gray-100); */
}

.table-hover > tbody > tr:hover > * {
  background-color: var(--opal-table-hover-bg);
}
