.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--opal-purple);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    border-color: var(--opal-purple);
    font-weight: bold;
}

.nav-tabs .nav-link {
  margin-bottom: 0;
}

.nav-link, .nav-link:hover, .nav-link:focus {
    color: var(--opal-purple);
    background-color: white;
}
